@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=OpenSane");
/* ACTIVITY LIST styles */


.ui.inverted.button{
  box-shadow: 0 0 0 0 black inset !important;
}
.ui.inverted.button:hover, button.ui.icon.inverted.left.labeled.button:focus {
  box-shadow: 0 0 0 0 black inset !important;
  color:#009ee6;
}


body {
  /* background-color: rgb(234, 234, 234) !important; */
  background-color: #e8e8e8;
  /* background-image: linear-gradient(120deg, #C9D6FF 0%, #E2E2E2 100%)!important;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

#logo {
  font-family: Pacifico;
  font-size: 25px;
  color: #dc493a;
}

.ui.menu .item > .input input {
  border-radius: 100px;
}

.mapboxMap {
  z-index: -1;
  overflow: visible;
  margin-top: 20px;
  filter: drop-shadow(0px 7px 5px grey);
}

.detailsButton {
  text-align: center;
}

.searchInput {
  border-radius: 100px;
}
/* .ui.secondary.pointing.menu .active.item  {
  color: #009ee6;
  border-color: #009ee6;
}
.ui.secondary.pointing.menu .active.item:hover  {
  color: #009ee6;
  border-color: #009ee6;
} */
.ui.secondary.pointing.menu .active.item {
  color: #3f3d56;
  border-color: #3f3d56;
}
.ui.secondary.pointing.menu .active.item:hover {
  color: #3f3d56;
  border-color: #3f3d56;
}
.ui.secondary.pointing.menu .item:hover {
  color: darkgray;
}

.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
  color: #009ee6;
}

/* .mainPageGrid {
  background-color: rgb(234, 234, 234) !important;
  border-radius: 25px;
  z-index: 10;
  margin-top: -20px;
  filter: drop-shadow(0px 20px 10px grey);
} */

.ui.pointing.top.fixed.menu {
  /* background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important; */
  background-color: white;
  /* background-color: #009ee6; */
  color: white;
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,230,67,1) 0%, rgba(255,80,80,1) 100.2% ); */
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}

a.ui.tiny.circular.positive.button.navbarPostBtn {
  margin: auto;
  padding: 15px;
}

a.ui.tiny.circular.positive.button.navbarPostBtn:hover {
  margin: auto;
  padding: 15px;
  color: #FFEE88;
}

/* 
a.ui.massive.circular.icon.positive.button.createActivityBtn {
  margin: -3vh 0 0 5vw;
  filter: drop-shadow(0px 3px 3px white);
} */

.ui.large.filtersHeader.menu {
  margin-top: 15px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 100px;
}
::-webkit-scrollbar {
  /* display: none; */
  background: rgba(0, 0, 0, 0);
  width: 5px;
}

.ui.attached:not(.top):not(.bottom).header {
  border-radius: 100px;
}

.filterMenuIcon {
  border-radius: 100px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.activityForm {
  margin-top: 100px;
}

#stickyButton {
  animation: moveDown 0.5s ease-in-out;
  border-radius: 100px;
}

.react-geocoder-results {
  color: black;
  outline: rgb(184, 176, 176);
  cursor: pointer;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 100;
  padding-top: 35px;
  margin-top: -40px;
  animation: moveDown 0.5s ease-in-out;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
.stickyWrapper {
  /* padding-top: 55px;
  margin-bottom: 10px;
  margin-top: -50px; */
  margin-bottom: 10px;
  top: 0;
}

.ui.menu .ui.dropdown .menu > .item:hover {
  background: #dc493a !important;
  color: white !important;
}

.ui.secondary.pointing.menu .item:hover {
  color: #dc493a;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  /* background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important; */
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%, #009EE6 0%, #FFE643 100.2% )!important; */
  /* background-image: linear-gradient(120deg, #009EE6 0%, #fda085 100%)!important; */
  background-image: linear-gradient(
    120deg,
    #c9d6ff 0%,
    #e2e2e2 100%
  ) !important;
  /* background-color: #009EE6; */
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* ACTIVITY DETAILS */
.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
  border-radius: 100px;
}

/* ACTIVITY FORM styles */

textarea,
.ui.form textarea,
.ui.form .field > .selection.dropdown {
  border-radius: 10px;
}
input {
  border-radius: 10px;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="file"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="text"],
.ui.form input[type="time"],
.ui.form input[type="url"] {
  border-radius: 10px;
}

.ui.form .field.error input:not([type]):focus,
.ui.form .field.error input[type="date"]:focus,
.ui.form .field.error input[type="datetime-local"]:focus,
.ui.form .field.error input[type="email"]:focus,
.ui.form .field.error input[type="file"]:focus,
.ui.form .field.error input[type="number"]:focus,
.ui.form .field.error input[type="password"]:focus,
.ui.form .field.error input[type="search"]:focus,
.ui.form .field.error input[type="tel"]:focus,
.ui.form .field.error input[type="text"]:focus,
.ui.form .field.error input[type="time"]:focus,
.ui.form .field.error input[type="url"]:focus,
.ui.form .field.error select:focus,
.ui.form .field.error textarea:focus {
  border-radius: 10px;
}
.ui.form input:not([type]):focus,
.ui.form textarea:focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="file"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="url"]:focus {
  border-radius: 10px;
}
.rw-widget > .rw-widget-container,
.rw-widget-picker > .rw-select {
  border: none;
}

.rw-widget-picker > .rw-select {
  border-radius: 10px;
  border-color: #dc493a;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  border-radius: 100px;
  background: #3f3d56;
  color: white;
}
button.ui.icon.inverted.left.labeled.button {
  border-radius: 100px;
}

/* ACTIVITY FORM Calendar Styles */
.rw-cell.rw-state-selected,
.rw-cell.rw-state-selected:hover {
  background-color: #dc493a;
  border: none;
}

/*end home page styles*/
